#closePlatform {
    -fx-graphic: url('close_icon.png');
    -fx-background-color: red;
    -fx-border-width: 0.0;
}
.button:hover {
	-fx-text-fill: white;
}
.button {
    -fx-background-color: grey;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;
    -fx-cursor: hand;
}
#root{
    -fx-background-color: white;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
.text-field{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 )
}
.choice-box .menu-item:focused .label{
    -fx-text-fill: white;
}
